body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .container {
      margin-top: 30px;
    }
	.board {
	  display: grid;
      grid-template-columns: repeat(3, 120px);
      grid-template-rows: repeat(3, 120px);
      gap: 5px;
      margin: 20px auto;
      width: 360px;
	}

h1 {
	text-align: center;
	font-style: fantasy;
}
.player {
	text-align: center;
}
#submit {
  padding: 10px;
  margin-top: 25px;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none
}
.box {
	height: 18vmin;
	width: 18vmin;
	border: 1px solid black;
    font-size: 8vmin;
    color: black;
    background-color: #ffbfca;
	align-content: center;
}