* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
	font-family:Arial, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f3f3f3;
}

h1 {
	margin-bottom: 20px;
	font-size: 2em;
	color: #333;
}

.player-inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.player-inputs input {
	padding: 10px;
	width: 200px;
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 16px;
}

#submit {
	padding: 10px 20px;
	background-color: #4CAF50;
	border: none;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}
#submit:hover {
	background-color: #45a049;
}

.board {
	display: none;
	flex-direction: column;
	align-items: center;
}

.message {
	margin: 20px 0;
	font-size: 20px;
	color: #444;
	font-weight: bold;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	gap: 5px;
}

.cell {
	background-color: white;
	border: 2px solid #333;
	display; flex;
	align-content: center;
	align-items: center;
	font-size: 40px;
	cursor: pointer;
}
.cell:disabled { cursor: not-allowed; }